*{
    margin: 0;
 }
 .flex{
     display: flex;
     display: flex;
     flex-direction: column;
     gap: 30px;
 align-items: center;
 }
 
  
.Success  {
    width: 770px;
    height: 200px;
    border-radius: 10px;
    background-color: #2F3032;
    color: white;
    list-style: none;
    margin-top: 50px;
   
 
 }
 .Error {
    width: 770px;
    height: 200px;
    border-radius: 10px;
    background-color: #2F3032;
    color: white;
    list-style: none;

}
.Warning{
    width: 770px;
    height: 200px;
    border-radius: 10px;
    background-color: #2F3032;
    color: white;
    list-style: none;
  }
  .Info{
    width: 770px;
    height: 200px;
    border-radius: 10px;
    background-color: #2F3032;
    color: white;
    list-style: none;
  }
 
.green {
     width: 100px;
     margin-right: 570px;
      margin-top: -30px;
    
 }
 .title {
   
   font-family: "Poppins";
   font-weight: 500;
   font-size: 60px;
   line-height: 54px;
   margin-left: 50px;
   margin-top: 25px;
   width: 606px;
 
 }
 .text{
     font-family: "Poppins";
     font-size: 24px;
     line-height: 36px;
    width: 400px;
    height: 80px;
     font-weight: 500;
     margin-left: 220px;
     margin-top: -120px;
    
      
 } 
 .texxt{
    font-family: "Poppins";
    font-size: 24px;
    line-height: 36px;
    width: 400px;
    font-weight: 500;
    margin-left: 220px;
    margin-top: -50px;
 }
   .App {
     background-color: black;
     width: 100%;
     height: fit-content;
 }  


.check {
    position: absolute;
    left: 628px;
    top: 112px;
} 

.red{
    width: 100px;
    margin-right: 570px;
     margin-top: -50px;
}
.error{
    position: absolute;
    left: 628px;
    top: 342px;
}
.third{
    font-family: "Poppins";
    font-size: 24px;
    line-height: 36px;
    width: 400px;
    font-weight: 500;
    margin-left: 220px;
    margin-top: 20px;
}
.yellow {
    margin-right: 580px;
    margin-top: -70px;
    width: 100px;
}
.warning{
  position: absolute;
  left: 623px;
  top: 575px;
}
.fourth{
    font-family: "Poppins";
    font-size: 24px;
    line-height: 36px;
    width: 400px;
    font-weight: 500;
    margin-left: 220px;
    margin-top: -30px;
}
.purpulle{
    width: 100px;
    margin-right: 570px;
    margin-top: -75px;
  

}
.info{
    position: absolute;
    left: 630px;
    top: 820px;
}
.line{
   position: absolute;
   top: 238px;
   left: 575px;
    border-radius: 2px;
    transform: rotate(-90deg);
    z-index: 2;
    transform-origin: bottom left;
    width: 195px;
    height: 10px;
    background-color: #00CC99;
}
.linne{
    position: absolute;
    top: 468px;
    left: 575px;
     transform: rotate(-90deg);
     z-index: 2;
     transform-origin: bottom left;
     width: 195px;
     height: 10px;
    border-radius: 2px;
     background-color: #EB5757;
}
.linee{
    position: absolute;
    top: 698px;
    left: 575px;
     transform: rotate(-90deg);
     z-index: 2;
     transform-origin: bottom left;
     width: 195px;
     height: 10px;
    border-radius: 2px;
     background-color: #F2C94C;
}
.liine{
    position: absolute;
    top: 925px;
    left: 575px;
     transform: rotate(-90deg);
     z-index: 2;
     transform-origin: bottom left;
     width: 195px;
     height: 10px;
    border-radius: 2px;
     background-color: #5458F7;
}