*{
    margin: 0;
 }
 .flex{
     display: flex;
     display: flex;
     flex-direction: column;
     gap: 30px;
 align-items: center;
 }
 
  
.Success  {
    width: 770px;
    height: 200px;
    border-radius: 10px;
    background-color: #2F3032;
    color: white;
    list-style: none;
    margin-top: 50px;
   
 
 }
 .Error {
    width: 770px;
    height: 200px;
    border-radius: 10px;
    background-color: #2F3032;
    color: white;
    list-style: none;

}
.Warning{
    width: 770px;
    height: 200px;
    border-radius: 10px;
    background-color: #2F3032;
    color: white;
    list-style: none;
  }
  .Info{
    width: 770px;
    height: 200px;
    border-radius: 10px;
    background-color: #2F3032;
    color: white;
    list-style: none;
  }
 
.green {

     width: 100px;
     margin-right: 520px;
     margin-top: -30px;

 }
 .title {
   
   font-family: "Poppins";
   font-weight: 500;
   font-size: 60px;
   line-height: 28px;
   margin-left: 50px;
   margin-top: 25px;
   
 
 }
 .text{
     font-family: "Poppins";
     font-size: 24px;
     line-height: 36px;
    width: 400px;
    height: 80px;
     font-weight: 500;
     margin-left: 220px;
     margin-top: -100px;

     
      
 } 
 .texxt{
    font-family: "Poppins";
    font-size: 24px;
    line-height: 36px;
    width: 400px;
    font-weight: 500;
    margin-left: 220px;
    margin-top: -80px;
 }
   .App {
     background-color: black;
     width: 100%;
     height: fit-content;
 }  


.check {
     position: relative;
     right: 608px;
     top: -12px;
} 

.red{
    width: 100px;
    margin-right: 520px;
     margin-top: -40px;
}
.error{
    position: relative;
    right: 608px;
    top: -12px;
}
.third{
    font-family: "Poppins";
    font-size: 24px;
    line-height: 36px;
    width: 400px;
    font-weight: 500;
    margin-left: 220px;
    margin-top: 20px;
}
.yellow {
    margin-right: 520px;
    margin-top: -50px;
    width: 100px;
}
.warning{
  position: relative;
  right: 608px;
  top: -12px;
}
.fourth{
    font-family: "Poppins";
    font-size: 24px;
    line-height: 36px;
    width: 400px;
    font-weight: 500;
    margin-left: 220px;
    margin-top: -150px;
}
.purpulle{
    width: 100px;
    margin-right: 597px;
    margin-top: -55px;
    
  

}
.info{
    position: relative;
    right: 299px;
    top: -90px;
}
.line{
    position: relative;
    top: 187px;
    left: 10px;
    border-radius: 2px;
    transform: rotate(-90deg);
    z-index: 2;
    transform-origin: bottom left;
    width: 195px;
    height: 10px;
    background-color: #00CC99;
}
.linne{
     position: relative;
     top: 187px;
     left: 10px;
     transform: rotate(-90deg);
     z-index: 2;
     transform-origin: bottom left;
     width: 195px;
     height: 10px;
    border-radius: 2px;
     background-color: #EB5757;
}
.linee{
    position: relative;
    top: 187px ;
    left: 10px;
     transform: rotate(-90deg);
     z-index: 2;
     transform-origin: bottom left;
     width: 195px;
     height: 10px;
    border-radius: 2px;
     background-color: #F2C94C;
}
.liine{
     position: relative;
     top: 187px;
     left: 10px;
     transform: rotate(-90deg);
     z-index: 2;
     transform-origin: bottom left;
     width: 195px;
     height: 10px;
    border-radius: 2px;
     background-color: #5458F7;
}